@import url("@ama-pt/agora-design-system/artifacts/dist/tailwind.css");
@import url("@ama-pt/agora-design-system/artifacts/dist/style.css");



@tailwind utilities;
@tailwind components;
@tailwind base;

/*HomePage*/
/*HomePage*/
.agora-card-highlight-newsletter .card-container .input-container {
  grid-template-columns: none;
  position: relative;
  z-index: 1;
}

.agora-card-highlight-newsletter .card-container:before {
  background-color: unset;
  position: unset;
}

/*Icon Container*/
.icon-container {
  border-radius: 8px;
  padding: 16px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Datasets Section Background */
.datasets-background {
  background-image: url('/banner-lines.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}


/*Footer*/
footer img {
  height: 30px;
}

/* Fix for Header expansion direction */
html,
body {
  height: 100%;
}

/*Grid 5 elements*/
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}